<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PowerPOS" connectionString="Data Source=MANDALA-BOOK\MSSQL2008;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=P@ssw0rd"/>
  </connectionStrings>
  <SubSonicService defaultProvider="PowerPOS" templateDirectory="C:\Program Files\SubSonic\SubSonic 2.0\CodeGeneration\Templates">
    <providers>
      <clear />
      <add name="PowerPOS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="PowerPOS" generatedNamespace="PowerPOS" />
    </providers>
  </SubSonicService>
</configuration>
